.container{
  display: flex;
  justify-content: space-between;
}

.Aside{
  width: 15vw;
  height: 100vh;
  min-width: 150px;
  text-align: center;
  background-color: rgb(45,45,45);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btnAreaAside{
  margin-bottom: 20px;
}
.btnSecuencia{
  background-color: transparent;
  color:white;
  margin: 5px;
  border: 1px solid transparent;
  outline: 0px;
  border-radius: 5px;
}
.btnSecuencia:hover{
  text-decoration: underline;
}
.btnExit{
  background-color: white;
  color:black;
  margin: 5px;
  border: 1px solid transparent;
  outline: 0px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 15px;
}
.btnExit:hover{
  text-decoration: underline;
}
.MainArea{
  border: 1px solid transparent;
  width: 85vw;
  align-content: center;
  text-align: center;
}


.LogIn{
  border: 1px solid transparent;
}

.logInput{
  font-size: 20px;
  margin: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  background-color: rgb(230,230,230);
}
.logInput:hover{
  background-color: rgb(210,210,210);
}
.logBtn{
  outline: none;
  border: 1px solid rgb(59, 190, 59);
  background-color: rgba(80, 230, 80, 0.3);
  border-radius: 7px;
  font-size: 30px;
  padding: 15px; 
}
.logBtn:hover{
  color:white;
  background-color: rgb(59, 190, 59);
}
.Table{
  width: max-content;
  border: 1px solid transparent;
}
.Table *{
  border: 1px solid black;
}

@media screen and (max-width: 600px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .Aside{
    height: fit-content;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 0px;
    justify-content: space-between;
  }
}