.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.link{
  color: blue;
}

.Header{
  width: 100vw;
  height: max-content;
  min-width: 150px;
  text-align: center;
  background-color: rgb(45, 45, 45);
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}
.btnAreaHeader{
  margin: 10px;
  border: 1px solid transparent;
  width: fit-content;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.btnAreaHeader button{
  margin: 10px;
}
.btnH{
  background-color: transparent;
  color:white;
  border: 1px solid transparent;
  outline: 0px;
  padding: 5px;
  font-family: Montserrat;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.btnH:hover{
  background-color: white;
  color: black;
  transition: 0s;
}
.btnH:active{
  background-color: white;
  color: black;
}
.btnH:focus{
  background-color: white;
  color: black;
}
.btnExit{
  width: 35px;
  height: 35px;
  color:black;
  border: 1px solid white;
  outline: 0px;
  padding: 5px;
  border-radius: 15px;
  font-family: Montserrat;
  background-image: url(../src/user.png);
  background-size: cover;
  filter: invert();
}
.btnExit:hover{
  filter: none;
}
.MainArea{
  border: 1px solid transparent;
  align-items: center;
  align-content: center;
  text-align: center;
}

.LogIn{
  margin-top: 175px;
  border: 1px solid transparent;
}

.logInput{
  font-size: 15px;
  padding: 3px;
  font-family: Montserrat;
  margin: 10px;
  margin-bottom: 35px;
  border: none;
  outline: none;
  border-bottom: 1px solid transparent;
  background-color: rgb(230,230,230);
}
.logInput:hover{
  border-bottom: 1px solid black;
  background-color: rgb(210,210,210);
}
.logBtn{
  outline: none;
  border: 1px solid rgb(55, 200, 55);
  background-color: rgba(80, 230, 80, 0.3);
  border-radius: 7px;
  font-size: 30px;
  padding: 15px; 
}
.logBtn:hover{
  color:white;
  background-color: rgb(59, 190, 59);
}
.btnRedirec{
  margin: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}.btnRedirec:hover{
  text-decoration: underline;
}

.tituloClase{
  margin-top: 85px;
}

.Table{
  margin-top: 10px;
  font-size: 12px;
  width: max-content;
  overflow-y: auto;
}

.Table *{
  padding: 5px;
  padding-top:0px;
  padding-bottom:0px;
  
}
.Table td{
  border-left: 1px solid rgb(200,200,200);
}
/*Para importados*/
.TableImport{
  margin-top: 25px;
  font-size: 1.2vw;
  width: max-content;
  border-bottom: 1px solid rgb(200,200,200);
}

.btnAddAlumno{
  background-color: green;
  border: 1px solid transparent;
  outline: none;
  padding: 5px;
  color: white;
  font-family: Montserrat;
  border-radius: 5px;
  width: 100px;
}

.scannerDiv{
  border: 1px solid transparent;
  margin-bottom: 15px;
  margin-top: 25px;
  width: 200px;
  height: 200px;
  z-index: 1;

}

.pdfInput{
  font-family: Montserrat;
  border: 1px solid transparent;
  margin-bottom: 15px;
}

.cuadroIzq{
  width: 80vw;
  overflow-y: auto;
  border: 1px solid transparent;
}

.classContainer{
  display:flex;
  justify-content:space-between
}
.scannerCont{
  width:250px;
  height:75vh;
  max-height:75vh;
  border-left:1px solid rgb(200,200,200);
  text-align:center
}
.btnCheck{
  width: 100%;
  height: 20px;
  margin: 1px;
  font-family: Montserrat;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .Header{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0px;
    justify-content: space-between;
  }
  .btnAreaHeader{
    border: 1px solid transparent;
    text-align: center;
    margin:0px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .MainArea{
    width: 100vw;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;

  }
  .tituloClase{
    margin-top: 200px;
  }
  .Table{
    margin: 10px;
    font-size: 3.5vw;
  }
  .classContainer{
    margin: 0px;
    padding: 0px;
    border: 1px solid transparent;
    flex-direction: column-reverse;
  }
  .cuadroIzq{
    width: 90vw;
    transform: translate(-10px,0px);
  }
  .scannerCont{
    margin: 0px;
    width: 100%;
    border: 1px solid transparent;
    transform: translate(35px,0);
  }
  .scannerDiv{
    margin: 0px;
    width: 100%;
    border: 1px solid transparent;

  }
}